body{
    padding: 0;
    margin: 0;
    font-family: 'Lucida Grande';
}

nav{
    width: 100%;
    background-color: #818b83;
    height: 50px;
    
}
.nav-container{
     /* border: 1px solid red;  */ */
    height: 50px;
    width: 33%;
    float: left;
    box-sizing: border-box;
    text-align: center;
    
    
  
    
}
.nav-container a{
 /* border: 1px  solid red;  */
padding: 10px;
text-decoration: none;
font-size:20px;
display: inline-block;
color:aliceblue;
margin: 0 12px



}


.nav-logo{
    /* border: 1px solid red; */
    height: 44px;
    margin: 3px;
  
   
    
   
}
#btn-pedido{
    background-color: #c38f72;
    display:inline-block;
    width:150px;
    padding: 10px;
    border-radius:20px;
    margin: 3px
    

}

#sobre-nos{
    text-align: center;
}
h1{
    text-transform:uppercase;
    font-size:45px;
    font-weight: 400;
    margin:40px; 
    color:#1e434d;


}
h2{
    text-transform:uppercase;
    font-size:35px;
    font-weight: 400;
    margin:40px;
    color:#1e434d;
}
#img-sobre-nos{
    border-radius: 20px;
}
h3{
    text-transform:uppercase;
    font-size:26px;
    font-weight: 400;
    margin:40px;
    padding: 10px;
    color:#1e434d;
    /* border: solid 1px #1e434d; */
}
h4{
    text-transform:uppercase;
    font-size:16px;
    font-weight: 700;
    margin:6px;
    color:#1e434d;
    padding: 0 ;
}

.Container{
    height:702px;
    width: 80%;
    margin: 50px auto;
    /* border:solid 1px rgb(165, 14, 14); */
   text-align:center;
   background-color: #c38f72;
   


}
.produto{
    width:33%;
   
    /* border:solid 1px ; */
    float:left;
    text-align:center;
    
  
}
.produto img{
    height:450px;
    width:auto;
    border-radius: 20px;
    cursor: pointer;
   
}

#prod-destaque{
    position:relative;
    top: 80px;
}
.produto:hover{
    transform:scale(1.1)
}
